# =========================
# Python virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]

# =========================
# ML artifacts (opcional)
# =========================
*.joblib
*.pkl
*.onnx

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/